<%= content_tag :h2, Spree.t(:add_your_testimonial), :class => 'new-testimonial' %>

<%= form_for(:testimonial, :html => {}) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p class="testimonial_submit">
    <%= f.submit Spree.t(:submit), :class => "button bg_darkfirst" %>
  </p>
<% end %>
